<div class="card card-style box-shadow-style">
  <div class="card-body card-body-style">
    <h5 class="card-title text-danger">{{ address.name }}</h5>
    <p class="card-text">Email: {{ address.email }}</p>
    <p class="card-text">Mobile Number: {{ address.mobileNo }}</p>
    <p class="card-text">Country: {{ address.country }}</p>
    <p class="card-text">State: {{ address.state }}</p>
    <p class="card-text">City: {{ address.city }}</p>
    <p class="card-text">pin: {{ address.pinCode }}</p>
    <p class="card-text">Address: {{ address.description }}</p>
    <div class="button-group">
      <a
        id="edit"
        class="btn btn-link-style btn-warning btn-lg"
        (click)="editElement()"
        [routerLink]="['/add']"
        [queryParams]="{
          name: address.name,
          city: address.city,
          email: address.email,
          mobileNo: address.mobileNo,
          country: address.country,
          state: address.state,
          description: address.description,
          pincode: address.pinCode
        }"
        ><i class="bi bi-pencil"></i> Edit</a
      >
      <a
        id="delete"
        class="btn btn-link-style btn-danger btn-lg"
        (click)="deleteElement()"
        ><i class="bi bi-trash"></i> Delete</a
      >
    </div>
  </div>
</div>
