.button-group {
  display: flex;
  justify-content: space-around;
}

.btn-link-style {
  background-color: transparent;
}

.card-style {
  height: 100%;
  width: 100%;
  display: flex;
  /* border: 1px solid black; */
}

.card-body-style {
  width: 100%;
}
