.button-group {
  display: flex;
  justify-content: space-around;
}

.btn-link-style {
  color: inherit;
  background-color: transparent;
}

#edit:hover {
  background-color: var(--btn-color-warning);
}

#delete:hover {
  color: white;
  background-color: var(--btn-color-danger);
}

.card-style {
  width: 100%;
}

.card-body-style {
  width: 100%;
}
