.form-style {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  gap: 10px;
}

.container {
  margin-top: 15px;
}

.form-container {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}

.button-group {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.btn-style {
  flex: 0.2;
}

.form-input-style-mobile {
  display: flex;
  gap: 10px;
}

.input-mobile-style {
  display: flex;
  flex-direction: column;
  flex: 1;
}
