.left-section {
  /* border: 1px solid rebeccapurple; */
  height: 70vh; /* Full viewport height */
  overflow-y: auto;
  scrollbar-width: none;
}

.container-box {
  overflow-y: hidden;
}

.left-section:hover {
  scrollbar-width: thin;
}

.right-section {
  /* border: 1px solid blue; */
}

.section-padding {
  padding: 10px 20px;
}

.row-container {
  padding: 20px 0px;
}
