.left-section {
  border: 1px solid rebeccapurple;
  height: 80vh; /* Full viewport height */
  overflow-y: auto;
  scrollbar-width: none;
}

.left-section:hover {
  scrollbar-width: thin;
}

.right-section {
  display: flex;
  /* justify-content: center; */
  border: 1px solid blue;
}

.section-padding {
  padding: 10px 20px;
}

.row-container {
  padding: 20px 0px;
}
